---
import Text from './Text.astro';
import Link from './Link.astro';
import Tag from './Tag.astro';

interface Props {
  title: string;
  description: string;
  technologies: string[];
  link?: string;
  github?: string;
}

const { title, description, technologies, link, github } = Astro.props;
---

<div class="tech-card">
  <Text variant="h3">{title}</Text>
  <Text variant="body" class="mt-2 mb-4">{description}</Text>
  <div class="flex flex-wrap gap-2">
    {technologies.map(tech => (
        <Tag>{tech}</Tag>
      ))}
  </div>

  {(link || github) && (
    <div class="flex gap-4 pt-2">
      {link && (
        <Link href={link}>Live Demo</Link>
      )}
      {github && (
        <Link href={github}>Source</Link>
      )}
    </div>
  )}
</div>
